.projectDetails {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-black-900);
}

.projectDetails h1 {
  color: var(--text-black-700);
}

.projectDetails p {
  color: var(--text-black-700);
}