:root {
  --divider-color: rgba(rgb(var(--skin-color)), 0.2)
}

.gradientDivider {
  height: 20px;
  position: relative;
  width: 100%;
  background: radial-gradient(ellipse farthest-side at top center, rgb(var(--skin-color)), transparent)
}


.gradientDivider::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 3px;
  background: linear-gradient(left, transparent, var(--divider-color), var(--divider-color), transparent)
}