.project {
  background: var(--bg-primary);
  padding: 6rem 0;
  transition: var(--bg-transition);
}

.project__title {
  flex: 0 0 100%;
  max-width: 100%;
  font-family: "Space Grotesk", sans-serif;
}

.project__title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.project__title h2::before {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 4px;
  top: 100%;
  left: 0;
  background: rgb(var(--skin-color));
  border-radius: 5px;
}

.project__title h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 35px;
  height: 4px;
  top: 100%;
  left: 0;
  margin-top: 8px;
  background: rgb(var(--skin-color));
  border-radius: 5px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  margin: 3rem 0;
}


@media screen and (max-width: 1024px) {
  .projects {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
}

@media screen and (max-width: 768px)  {
  .projects  {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
