.projectCard {
  margin-bottom: 20px;
  overflow: hidden;
  height: 100vh;
}


.projectCard__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectCard__left {
  width: 30%;
}

.projectCard__right {
  width: 60%;
  background: var(--bg-black-100);
  display: flex;
  justify-content: center;
  padding: 30px;
}

.projectCard__image {
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 16 / 10;
}

.projectCard__details {
  flex: 1;
  margin: 2rem 0;
}

.projectCard__title {
  font-size: 1.25rem;
  margin: 1rem 0;
  color: var(--text-black-900);
}

.projectCard__description {
  font-size: 0.875rem;
  color: var(--text-black-700);
  text-align: justify;
}

.projectCard__techUsed {
  min-height: 60px;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

.projectCard__techUsed .appliedTechs {
  list-style: none;
  font-size: 0.875rem;
  font-weight: 500;
}

.projectCard__techUsed .appliedTech {
  color: #fff;
  padding: 0 0.875rem;
  border-radius: 999rem;
  background: var(--skin-color);
}

.project__cta-buttons {
  margin-top: 2rem;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.project__cta-buttons .showCode__btn,
.project__cta-buttons .liveDemo__btn {
  padding: 0.5rem 1rem;
  border: 1px solid var(--skin-color);
  border-radius: 999rem;
  transition: background 0.3s ease;
}

.project__cta-buttons .showCode__btn:hover,
.project__cta-buttons .liveDemo__btn:hover {
  background: var(--skin-color);
}

.project__cta-buttons .showCode__btn:hover > a,
.project__cta-buttons .liveDemo__btn:hover > a {
  color: #fff;
}

.showCode__btn .githubBtn,
.liveDemo__btn .liveDemoBtn {
  text-decoration: none;
  color: var(--text-black-700);
  font-size: 0.875rem;
  font-weight: 600;
}

.project__moreInfo-btn {
  text-align: center;
  margin-top: 2rem;
}

.project__moreInfo-btn .moreInfoBtn {
  text-decoration: none;
  color: var(--text-black-700);
  font-weight: 500;
}

.project__moreInfo-btn .moreInfoBtn:hover {
  text-decoration: underline;
  color: var(--skin-color);
}
