.projectCard {
  background-color: var(--bg-card);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.projectCard:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.projectCard__image {
  position: relative;
  overflow: hidden;
}

.projectCard__image img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.imageOverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(var(--skin-color), 0.5);
  opacity: 0;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.imageOverlay:hover {
  opacity: 1;
}

.projectCard__details {
  padding: 1.5rem;
}

.projectCard__title {
  font-size: 1.25rem ;
  line-height: 1.75rem ;
  margin-bottom: 1rem;
  color: var(--text-black-900);
}

.projectCard__description {
  font-size: 0.875rem;
  color: var(--text-gray-600);
  text-align: justify;
  margin-bottom: 1rem;
}

.projectCard__techUsed {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.projectCard__techUsed .appliedTechs {
  list-style: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.projectCard__techUsed .appliedTech {
  color: rgb(var(--skin-color));
  padding: 0.25rem 0.75rem;
  border-radius: 999rem;
  background: rgba(var(--skin-color), 0.09);
}

.project__cta-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}


.project__cta-buttons .showCode__btn,
.project__cta-buttons .liveDemo__btn {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  border-radius: 50%;
  background: rgb(var(--skin-color));
}

.showCode__btn .githubBtn,
.liveDemo__btn .liveDemoBtn {
  width: inherit;
  height: inherit;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
