.modal-overlay {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fefefe;
  border-radius: 8px;
  width: 80%;
  height: 90vh;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  padding: 40px 10px;
  box-sizing: border-box;
}

.modal-content iframe {
  width: 100%;
  height: 100%;
}

.modal-close-button {
  background-color: #eee;
  position: absolute;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 50%;
  border: none;
  top: 5px;
  right: 15px;
  font-size: 35px;
  font-weight: bold;
  z-index: 1001;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.modal-close-button:hover,
.modal-close-button:focus {
  color: #fff;
  background: rgb(var(--skin-color));
  text-decoration: none;
  cursor: pointer;
}
