.contact {
  background: var(--bg-secondary);
  padding-top: 7rem;
  transition: var(--bg-transition);
}

.contact__title {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact__title h2 {
  font-size: 40px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  color: var(--text-black-900);
  position: relative;
}

.contact__title h2::before {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 4px;
  top: 100%;
  left: 0;
  background: rgb(var(--skin-color));
  border-radius: 5px;
}

.contact__title h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 35px;
  height: 4px;
  top: 100%;
  left: 0;
  margin-top: 8px;
  background: rgb(var(--skin-color));
  border-radius: 5px;
}

.contact__hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8rem;
  padding: 2rem 0;
}

.social-media-links .icon-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 2rem 0;
  padding: 1rem;
  text-decoration: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 0.3s ease;
}

.social-media-links .icon-group:hover {
  transform: scale(1.06);
}

.contact__icon {
  font-size: 3rem;
  display: flex;
  align-items: center;
}

.contact__icon > svg {
  fill: rgb(var(--skin-color));
}

.icon-group .smi-title {
  color: var(--text-gray-600);
  font-size: 1rem;
  font-weight: 500;
}

.contact__emailing > p {
  display: block;
  margin: 1rem 0;
  color: var(--text-black-700);
  font-size: 1.5rem;
}

.emailBtn {
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
  outline: none;
  border: 2px solid rgb(var(--skin-color));
  color: var(--text-black-700);
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 999rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.emailBtn:hover {
  background: rgb(var(--skin-color));
  color: #fff;
}

.contact__details .contact__details-header {
  color: var(--text-black-700);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.contact__details .contact__details-header h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact__details .contact__details-header p {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--text-gray-600);
}

/* ########## Contact Cards ############# */

.contact__cards-wrapper {
  max-width: 56rem;
  margin: 0 auto;
}


.contact__cards {
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 2rem;
}


.contact__card {
  background: var(--bg-card);
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contact__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--text-black-900);
  margin-bottom: 1.5rem;
}

.contact__links {
  display: flex;
  gap: 1rem;
  align-items:flex-start;
}

.contact__phone, .contact__email, .contact__location {
  margin: 1.5rem 0;
}

.contact__location-details p:nth-child(1), .contact__email-details p:nth-child(1), .contact__phone-details p:nth-child(1) {
  font-weight: 500;
  color: var(--text-black-900);
}

.contact__location-details p:nth-child(2), .contact__email-details > a, .contact__phone-details > a {
  color: var(--text-gray-600);
  font-size: 0.875rem;
}

.contact__email-details > a, .contact__phone-details > a {
  text-decoration: none;
  color: var(--text-gray-600);
  cursor: pointer;
}

.contact__icons {
  width: 1.5rem;
  height: 1.5rem;
  color: rgb(var(--skin-color));
}

.contact .contact__form {
  flex: 0 0 100%;
  max-width: 100%;
  background: var(--bg-card);
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="email"],
input[type="text"]:first-of-type {
  width: 92%;
 
}
.contact .contact__form .row {
  display: flex;
  gap: 10%;
}

.contact .contact__form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact__form .row .form-group > label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-black-900);
  margin-bottom: 0.5rem;
}

.row {
  margin-bottom: 2rem;
}

.row:last-child {
  margin-bottom: 0;
}



.contact .contact__form .form-item .form-control {
  width: 100%;
  border-radius: .5rem;
  background-color: rgba(rgb(var(--skin-color)), 0.8);
  outline: none;
  border: 1px solid var(--bg-black-50);
  padding: 0.5rem 1rem;
  font-family: inherit;
  color: var(--text-gray-600);
  transition: all 0.3s ease;
}

.contact .contact__form .form-item textarea.form-control {
  height: 140px;
}

.contact .contact__form .form-item .form-control:focus {
  outline: none;
  border: 1px solid rgb(var(--skin-color));
}

.contact__form .submitBtn {
  width: 100%;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(var(--skin-color));
  font-size: calc(0.875rem + 0.2vw);
  font-weight: 600;
  font-family: inherit;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.contact__form .submitBtn:hover {
  background: rgba(var(--skin-color), 0.8);
}

@media screen and (max-width: 768px) {
  .contact__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
  }

  .contact .contact__form .row:first-child {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .contact .contact__form .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  input[type="email"],
  input[type="text"]:first-of-type {
    width: 100%;
  }

  .contact__cards  {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
