.contact {
  background: var(--bg-black-900);
  padding-top: 7rem;
}

.contact__title {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact__title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.contact__title h2::before {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 4px;
  top: 100%;
  left: 0;
  background: var(--skin-color);
  border-radius: 5px;
}

.contact__title h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 35px;
  height: 4px;
  top: 100%;
  left: 0;
  margin-top: 8px;
  background: var(--skin-color);
  border-radius: 5px;
}

.contact__hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8rem;
  padding: 2rem 0;
}

.social-media-links .icon-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 2rem 0;
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 0.3s ease;
}

.social-media-links .icon-group:hover {
  transform: scale(1.06);
}

.contact__icon {
  font-size: 3rem;
  display: flex;
  align-items: center;
}

.contact__icon > svg {
  fill: var(--skin-color);
}

.icon-group .smi-title {
  color: var(--text-black-700);
  font-size: 1.125rem;
  font-weight: 600;
}

.contact__emailing > p {
  display: blcok;
  margin: 1rem 0;
  color: var(--text-black-700);
  font-size: 1.5rem;
}

.emailBtn {
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
  outline: none;
  border: 2px solid var(--skin-color);
  color: var(--text-black-700);
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 999rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.emailBtn:hover {
  background: var(--skin-color);
  color: #fff;
}

.contact__details .contact__details-header {
  color: var(--text-black-700);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

.contact__details .contact__details-header p {
  font-size: 1.125rem;
  font-weight: 600;
}

.contact__details .contact__details-header span {
  font-weight: 500;
}

.contact .contact__form {
  flex: 0 0 100%;
  max-width: 100%;
}

input[type="email"],
input[type="text"]:first-of-type {
  width: 92%;
}
.contact .contact__form .row {
  display: flex;
  gap: 10%;
}

.contact .contact__form .col-6 {
  flex: 0 0 45%;
  max-width: 45%;
}

.contact .contact__form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact__form .form-item {
  margin-bottom: 2rem;
}

.contact .contact__form .form-item .form-control {
  width: 100%;
  height: 3rem;
  border-radius: 1.5rem;
  background: var(--bg-black-100);
  outline: none;
  border: 1px solid var(--bg-black-50);
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  font-family: inherit;
  color: var(--text-black-700);
  transition: all 0.3s ease;
}

.contact .contact__form .form-item textarea.form-control {
  height: 140px;
}

.contact .contact__form .form-item .form-control:focus {
  /* box-shadow: 0 0 20px rgba(48, 46, 77, 0.15); */
  /* box-shadow: 0 0 12px var(--skin-color); */
  outline: none;
  border: 1px solid var(--skin-color);
  filter: drop-shadow(0px 0px 5px var(--skin-color));
}

.contact__form .submitBtn {
  padding: 0.5rem 1rem;
  text-decoration: none;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid var(--skin-color);
  color: var(--text-black-700);
  font-size: calc(0.875rem + 0.2vw);
  font-weight: 600;
  font-family: inherit;
  border-radius: 999rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.contact__form .submitBtn:hover {
  background: var(--skin-color);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .contact__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
  }

  .contact .contact__form .row:first-child {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .contact .contact__form .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  input[type="email"],
  input[type="text"]:first-of-type {
    width: 100%;
  }
}
