.footer {
  background: var(--bg-black-900);
  transition: var(--bg-transition);

}

.wavy-background {
  width: 100%;
  z-index: 1;
  position: relative;
}

#wavySvg {
  margin-bottom: -7px;
}


#wavy-svg {
  fill: rgb(var(--skin-color));
}

.footer__desc {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.875rem;
  color: var(--text-black-700);
}

/* .bottomShape {
  transform: rotate(180deg);
  line-height: 0;
  overflow: hidden;
  width: 100%;
}

.svg_bottom {
  height: 50px;
  transform: rotateY(180deg);
  width: calc(143% + 1px);
}

.shapeFillBlack {
  fill: #2e3032;
} */

.footer-section-one {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-section-one-right.footer_links > li {
  list-style-type: none;
}

.footer-items {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.footer-left {
  width: 50%;
  font-size: 1.025rem;
  font-weight: 600;
  color: var(--text-black-700);
}

.footer__middle-title {
  font-family: "Space Grotesk", sans-serif;
  color: var(--text-black-700);
  letter-spacing: 1px;
}

.footer__middle-title::after {
  content: "";
  display: block;
  border-bottom: 5px solid rgb(var(--skin-color));
}

.footer-right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.iconWrapper {
  display: inline-flex;
  list-style: none;
}

.icon {
  position: relative;
  background: #ffffff;
  color: black;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#github {
  background-color: #333;
  color: white;
}

#github a {
  color: white;
}

#linkedin {
  background-color: #1da1f2;
}

#linkedin a {
  color: #fff;
}

.tooltip {
  position: absolute;
  top: 0;
  left: -20px;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  font-weight: 600;
  visibility: visible;
  pointer-events: auto;
}

.icon:hover span,
.icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

#linkedin:hover,
#linkedin:hover .tooltip,
#linkedin:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

#github:hover,
#github:hover .tooltip,
#github:hover .tooltip::before {
  background: #333;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .footer-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
  }
  .footer-left {
    width: 100%;
    font-size: 1.025rem;
    font-weight: 600;
    color: var(--text-black-700);
  }

  .footer-right {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
  }
}
