@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f9fafb;
  --bg-card: #ffffff;
  --text-gray-600: #4b5563;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #0f172a;
  --text-black-700: #334155;
}

body {
  font-family: "Outfit", sans-serif;
  line-height: 1.6;
  font-size: 16px;
  transition: color 2s ease;
  overflow-x: hidden;
}

body.theme-dark {
  --bg-primary: #111827;
  --bg-secondary: #111827;
  --bg-card: #1f2937;
  --text-gray-600: #9ca3af;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #f1f5f9;
  --text-black-700: #cbd5e1;
}

body.skin1 {
  --skin-color: 55, 177, 130;
}

body.skin2 {
  --skin-color: 59, 130, 246;
}

body.skin3 {
  --skin-color: 240, 33, 178;
}

body.skin4 {
  --skin-color: 176, 17, 17;
}

body.skin5 {
  --skin-color: 14, 165, 233;
}

body.skin6 {
  --skin-color: 153, 121, 80;
}

body.skin7 {
  --skin-color: 222, 115, 255;
}

body.skin8 {
  --skin-color: 234, 179, 8;
}

::selection {
  background: rgba(var(--skin-color), 0.45);
  color: #fff;
}

#author__name {
  margin-bottom: 1.5rem;
  font-size: calc(2.5rem + 0.8vw);
  text-align: center;
  line-height: 1.5rem;
  font-weight: 700;
  color: rgb(var(--skin-color));
}

body {
  cursor: url("/cursor/cursor-@1x.svg") 0 0, auto;
  cursor: -webkit-image-set(url("/cursor/cursor-@2x.svg") 2x) 0 0, auto;
}

button,
button:hover,
.pill,
.gotoTop,
.closeIcon,
.menuIcon,
.theme-toggler,
svg,
a:hover {
  cursor: url("/cursor/cursor-hover.svg") 4 2, pointer;
  cursor: -webkit-image-set(url("/cursor/cursor-hover2.svg") 2x) 8 4, pointer;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
